
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../image/hlogo.png">
	<link rel="stylesheet" href="../css2/all.min.css">
	<link rel="stylesheet" href="../css2/style2.css">
	<title>Log In</title>
</head>

<body>
	<div class="container">
		<div class="form-container sign-in-container">
			<form>
				<h1>Log In Now</h1>
				
				<input type="email" placeholder="Username" />
                <input type="email" placeholder="Password" />
				<a href="#">Forgot your password?</a>
				<button><a href="#">LogIn</a></button>
				
			</form>
		</div>
	</div>

</body>

</html>