
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../image/hlogo.png">
	<link rel="stylesheet" href="../css2/all.min.css">
	<link rel="stylesheet" href="../css2/style2.css">
	<title>Sign UP</title>
</head>

<body>
	<div class="container">
	
		<div class="form-container sign-in-container">
			<form>
				<h1>Sign UP Now</h1>
                <input type="text" placeholder="Username" />
				<input type="email" placeholder="Email" />
				<input type="password" placeholder="Password" />
                <input type="password" placeholder="Confirm Password" />
				<button><a href="#">SIGN UP</a></button><br>
				You already have an Account ? <a href="../views/sign in admin.html"   class="btn btn-danger sbutton">Login Now! </a>
			</form>
		</div>
	</div>

</body>

</html>